
  #instruction{
    background: lightpink;
  /* float: left; */
  /* width: 50%; */
  text-align: justify
}

#direction{
    background: lightskyblue;
    /* float: right; */
    /* width: 50%; */
    text-align: justify
}

ol{
margin: 0px
}

li{
  padding: 0px 20px 14px 6px;

}

h1{
  padding: 10px 8px 0px 15px;
margin-top: 0px

}