body{
    background: 
}

header{
    overflow: hidden;
    background-color: #a9db59;
    padding: 20px 0px;
  }

  #logo{
    height: 90px;
    float: left;

  }

  #companyName{
      color: darkred;
      float: left;
  }

  .search{
      float: right;
  }

  .navItem{
      display: inline;
      padding: 30px
  }

  nav{
      background: darkred;
      color: #a9db59
  }

  #haleemImg{
      margin-right: 20px;
      /* margin: 20px; */
      float: left;
      height: 300px;
  }

  p{
      padding: 20px;
      margin: 20px;
      display: inline;
  }

  #instruction{
      background: lightpink;
    /* float: left; */
    /* width: 50%; */
    text-align: justify
}

#direction{
    background: lightskyblue;
    /* float: right; */
    /* width: 50%; */
    text-align: justify
}

ul{
    list-style: square;
}

footer{
    text-align: center;
    background: #a9db59;
    
}
